<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../static/css/animate.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Unna:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/hire.css">
</head>
<body style="background-color: #EFFFFA;">
  <nav class="sticky-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <nav class="navbar navbar-expand-lg " style="background-color: #EFFFFA;">
            <div class="container-fluid">
            <a class="navbar-brand animate__animated animate__pulse animate__infinite" id="hire" href="{{url_for('home_page')}}"><b>HIRE</b></a>
              <div class="d-inline-block">
                <span style="font-family:'Unna', serif;" class="text-primary">Are a User?</span>
                <a style="font-family:'Unna', serif;" href="{{url_for('form_page')}}" class="btn btn-outline-dark" id="changeable">Existing User?</a>
              </div>
          </nav>
        </div>
      </div>
  </nav>
  <div class="container-fluid">
    <div class="row" style="justify-content: center;">
      <div class="col-md-6" >
        <form action="" method="post" class="col-md-12 my-3 bg-white p-4 rounded" style="box-shadow:3px 4px 7px black;" id="signUp" autocomplete="on">
          <h1 style="font-family:'Unna', serif;" class="text-center mb-5">Sign Up</h1>
          <div id="errormsage"></div>
          <div class="row mb-3">
              <div class="col-md-6">
                {{y.fname(class_='form-control' , placeholder='Enter Your Fullname')}}
              </div>
              <div class="col-md-6">
                {{y.lname(class_='form-control', placeholder='Enter Your Last Name')}}
              </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              {{y.emailadd(class_='form-control', placeholder='Enter Your Email Address')}}
            </div>
            <div class="col-md-6">
              {{y.phone(class_='form-control', placeholder='Enter Your Phone Number')}}
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              {{y.password(class_='form-control', placeholder='Enter Your Password')}}
            </div>
            <div class="col-md-6">
              {{y.confirmpwd(class_='form-control', placeholder='Confirm  Your Password')}}
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              {{y.address(class_='form-control', placeholder='Enter Your Address')}}
            </div>
            <div class="col-md-6">
              <div>
                <input type="radio" name="gender" value="2" class="form-radio">
                <label for="male">Male</label>
              </div>
              <div>
                <input type="radio" name="gender" value="1" class="form-radio">
                <label for="female">Female</label>
              </div>
              <div>
                <input type="radio" name="gender" value="3" class="form-radio">
                <label for="others">Others</label>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-12">
              <select name="state" id="state" class="form-select user" required>
                <option value="">Select your State of Residence</option>
                {% for i in state%}
                  <option value="{{i.state_id}}">{{i.state_name}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
          <div class="mb-3 text-center">
            {{y.submit(class_='btn btn-primary col-4 text-center')}}
          </div>
          <div class="text-center">
            <p><hr></p>
            <a href="{{url_for('form_page')}}" class="text-decoration-none" id="showLogin" style="cursor: pointer;" role="link"><b>Existing User?</b></a>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/js/jquery.min.js"></script>
  <script>
    
  </script>
</body>
</html>