{%extends 'service_providers/layout.html'%}
{%block title%}
Confirm Subscription
{%endblock%}
{%block content%}
<div class="container">
  <div class="row">
      <div class="col">
          <form method="post" action="/paystack_step1"> 
            <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
          <table class="table table-striped">
            <tr> 
              <th>S/N</th>
              <th>Name</th>
              <th>Type</th>
              <th>Price</th>
            </tr>
            {%for i in data%}
            <tr> 
              <td>{{loop.index}}</td>
              <td>{{i.spdeets.sp_fname}} {{i.spdeets.sp_lname}}</td>
              <td>Subscription</td>
              <td>{{i.trxdeets.trx_totalamt}}</td>
            </tr>
            <tr>
              <td>TOTAL</td>
              <td colspan="2">{{i.trxdeets.trx_totalamt}}</td>
            </tr>
          </table>
          {%endfor%}
          <button class="btn btn-primary">Confirm</button>
        </form>
      </div>
  </div>
</div>
{%endblock%}