{%extends 'service_providers/layout.html'%}
{%block title%}
Confirm Subscription
{%endblock%}
{%block name%}
{{records.sp_fname}}
{% endblock%}
{%block email%}
{{records.sp_email}}
{% endblock%}
{%block content%}
<div class="container">
  <div class="row">
      <div class="col">
          <form method="post" action="/paystack_step1"> 
            <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
          <table class="table table-striped">
            <tr> 
              <th>S/N</th>
              <th>Name</th>
              <th>Type</th>
              <th>Price</th>
            </tr>
            <tr> 
              <td>1</td>
              <td>{{data.user_whopaid.sp_fname}} {{data.user_whopaid.sp_lname}}</td>
              <td>Subscription</td>
              <td>{{data.amount_paid.subscription_amount}}</td>
            </tr>
            <tr>
              <td>TOTAL</td>
              <td colspan="2">{{data.amount_paid.subscription_amount}}</td>
            </tr>
        </table>
          <button class="btn btn-primary">Confirm</button>
        </form>
      </div>
  </div>
</div>
{%endblock%}