{% extends 'service_providers/layout.html'%}
{%block title%}
Message
{%endblock%}
{%block name%}
{{records.sp_fname}}
{% endblock%}
{%block email%}
{{records.sp_email}}
{% endblock%}
{% block content%}
<div class="col-md-5 m-2 ">
  <form action="" method="post" class="bg-white p-3" style="box-shadow: 2px 2px 5px;" id="myform">
    <h2 style="font-family:'Unna', serif;" class="title">Ask a Question</h2>
    <div id="successmsg"></div>
    <div>
      <label class="form-label">Enter Your Message Title</label>
      {{message.title(class_="form-control", placeholder="Enter Message Title")}}
    </div>
    <div class="mb-3">
      <label class="form-label">Enter Your Message</label>
      {{message.message( class_="form-control", cols="30", rows="3")}}
    </div>
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
    <div>
      <button class="btn btn-danger" id="btn">Send</button>
    </div>
  </form>
</div>
{% endblock %}
{%block customjs%}
<script>
  $(document).ready(function(){
    $('#btn').click(function(){
      var data2send=$('#myform').serialize()
      $.ajax({
        url:"{{url_for('sp_messageget')}}",
        data:data2send,
        type:'post',
        dataType:'json',
        success:function(response){
          $('#successmsg').html("<p class='alert alert-success'>"+response+"</p>")
        }
      })
    })
  })
</script>
{%endblock%}