{% extends 'service_providers/layout.html'%}
{% block content%}
<form action="" method="post" class="p-md-5" id="formdeets" enctype="multipart/form-data">
  <h1 class="text-center" style="font-family: Unna,Serif;">Update Profile</h1>
  <input type="image" src="/static/uploads/{{records.sp_image}}" width="200" height="200"  alt="profile image">
  <div class="mb-3">
    <label for="">Upload Profile Photo</label>
    {{b.image(class_='form-control',value=records.sp_image)}}
  </div>
  <div class="mb-3">
    <label for="">Firstname</label>
    {{b.fname(class_='form-control',placeholder='Enter Your First Name',value=records.sp_fname)}}
  </div>
  <div class="mb-3">
    <label for="">Lastname</label>
    {{b.lname(class_='form-control',placeholder='Enter Your Last Name',value=records.sp_lname)}}
  </div>
  <div class="mb-3">
    <label for="">Phone Number</label>
    {{b.phone(class_='form-control',placeholder='Enter Your Address',value=records.sp_phone)}}
  </div>
  <div class="mb-3">
    <label for="">Summary</label>
    <textarea name="summary"  placeholder="Enter Your Summary" class="form-control">{{records.sp_summary}}</textarea>
  </div>
  <div class="mb-3">
    <label for="">Address</label>
    <textarea name="address"  placeholder="Enter Your Address" class="form-control">{{records.sp_address}}</textarea>
  </div>
  <div class="mb-3">
    <select name="service" id="" class="form-select" required>
      <option value="">Select Your Service</option>
      {% for u in service%}
        <option value="{{u.service_id}}">{{u.service_name}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="mb-3">
    <select name="state" id="" class="form-select" required>
      <option value="">Select Your State</option>
      {% for i in records1%}
      {%if i.stateid == records.sp_location%}
        <option value="{{i.state_id}}" selected>{{i.state_name}}</option>
      {%else%}
        <option value="{{i.state_id}}">{{i.state_name}}</option>
      {%endif%}
      {% endfor %}
    </select>
  </div> 
  <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
  <div>
    {{b.submit(class_='btn btn-primary')}}
</form>
{% endblock %}
{%block customjs%}
<script>
</script>
{%endblock%}