{% extends 'service_providers/layout.html'%}
{%block title%}
Your Reviews
{%endblock%}
{%block name%}
{{records.sp_name}}
{% endblock%}
{%block email%}
{{records.sp_email}}
{% endblock %}
{% block  image%}
{% if records.sp_image==None %}
<div class="rounded-pill bg-white text-center" style="width: 30px;height:30px;">
  <i class="fa-solid fa-user"></i>
</div>
{% else %}
<div class="rounded-pill bg-white text-center" style="width: 30px;height:30px;">
  <img src='/static/uploads/{{records.sp_image}}' class="rounded-pill img-fluid bg-white text-center" style="width: 30px;height:30px;"/>
</div>
{% endif %}

{% endblock%}
{%block content%}
<div class="container-fluid">
  {%for i in reviews%}
  {%if i.reply_status != 'True'%}
  <div class="row border my-3 bg-white sp">
    <div class="col-md-11">
      <div>
        <p>{{i.review_by}} has reviewed your service</p>
        <a href="/sp_reply/{{i.review_id}}" class="btn btn-primary">Reply</a>
      </div>
    </div>
  </div>
  {%endif%}
  {%endfor%}
</div>
{%endblock%}