{% extends 'admin/layout.html'%}
{%block email%}
admin@hire.com
{%endblock%}
{% block content%}
  <table class="table table-striped">
    <tr>
      <th>
        S/N
      </th>
      <th>
        Service Name
      </th>
    </tr>
    {% if regs%}
    {%for i in regs%}
    <tr>
      <td class="text">
        {{loop.index}}
      </td>
      <td class="text">
        {{i.service_name}}
      </td>
    </tr>
    {%else%}
    <tr>
      <td colspan="4">No User Found</td>
    </tr>
    {% endfor%}
    {% endif %}
  </table>
{%endblock%}