{%extends 'admin/layout.html'%}
{%block email%}
admin@hire.com
{%endblock%}
{% block content%}
  <table class="table table-striped">
    <tr>
      <th>
        S/N
      </th>
      <th>
        Fullname
      </th>
      <th>
        Message
      </th>
      <th>
        Time Sent
      </th>
      <th>
        Actions
      </th>
    </tr>
    {% if msg%}
    {%for i in msg%}
    <tr>
      <td class="text">
        {{loop.index}}
      </td>
      <td class="text">
        {{i.userdeets.sp_fname}} {{i.userdeets.sp_lname}}
      </td>
      <td class="text">
        {{i.message_title}}
      </td>
      <td class="text">
        <a href="/admin/details/{{i.userdeets.sp_id}}">Details|</a>
        <a href="/admin/delete/{{i.userdeets.sp_id}}" onclick="return confirm('Are You Sure You Want to Delete This User?')">Delete User</a>
      </td>
    </tr>
    {%else%}
    <tr>
      <td colspan="4">No User Found</td>
    </tr>
    {% endfor%}
    {% endif %}
  </table>
{%endblock%}