{%extends 'admin/layout.html'%}
{%block email%}
admin@hire.com
{%endblock%}
{% block content%}
<div class="col-10">
  <table class="table table-striped ">
    <tr>
      <th class="text">
        S/N
      </th>
      <th class="text">
        Fullname
      </th>
      <th class="text">
        Message
      </th>
      <th class="text">
        Date Sent
      </th>
    </tr>
    {% if msg%}
    {%for i in msg%}
    <tr>
      <td class="text">
        {{loop.index}}
      </td>
      <td class="text">
        {{i.userdeets.sp_fname}} {{i.userdeets.sp_lname}}
      </td>
      <td class="text">
        {{i.message_title}}
      </td>
      <td class="text">
        {{i.message_date}}
      </td>
    </tr>
    {%else%}
    <tr>
      <td colspan="4">No User Found</td>
    </tr>
    {% endfor%}
    {% endif %}
  </table>
</div>
{%endblock%}