{%extends 'admin/layout.html'%}
{%block email%}
admin
{%endblock%}
{% block content%}
  <table class="table table-striped">
    <tr>
      <th>
        S/N
      </th>
      <th>
        Fullname
      </th>
      <th>
        Transaction Id
      </th>
      <th>
        Price
      </th>
      <th>
        Status
      </th>
      <th>
        Email
      </th>
    </tr>
    {% if regs%}
    {%for i in regs%}
    <tr>
      <td class="text">
        {{loop.index}}
      </td>
      <td class="text">
        {{i.user_whopaid.sp_fname}} {{i.user_whopaid.sp_lname}}
      </td>
      <td class="text">
        {{i.trx_refno}}
      </td>
      <td>
        {{i.amount_paid.subscription_amount}}
      </td>
      <td class="text">
        {{i.trx_status}}
      </td>
      <td class="text">
        {{i.user_whopaid.sp_email}}
      </td>
    </tr>
    {%else%}
    <tr>
      <td colspan="4">No User Found</td>
    </tr>
    {% endfor%}
    {% endif %}
  </table>
{%endblock%}